.button {
	position: relative;
	padding: 7px 10px;
	min-width: 150px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 18px;
	color: #fff;
	outline: none;
	transition: all .2s;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	bottom: 0;
}

.button:hover {
	box-shadow: 0 4px 5px rgba(0, 0, 0, .2);
	bottom: 3px;
}

.buttons {
	display: flex;
	align-items: center;
	margin: 0 auto;
	justify-content: space-between;
	padding: 150px;
	width: 400px;
}

.backdrop {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 50;
	background-color: rgba(0,0,0, .3);
}

.modal {
	position: fixed;
	width: 400px;
	height: 200px;
	z-index: 1000;
	border-radius: 7px;
	overflow: hidden;
	color: white;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	&--success {
		background-color: rgb(158, 255, 140);
	}

	&--delete {
		background-color: #e94b35;
	}

	&-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px;
		background-color: rgba(0,0,0, .2);
		font-weight: bold;
		font-size: 18px;
	}

	&-footer {
		display: flex;
		padding: 10px;
		align-items: center;
		justify-content: space-between;
	}
}

.close-btn {
	cursor: pointer;
	font-size: 20px;
}